@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
   font-family: "Archivo Black", sans-serif;
   overflow: auto;
   color: white;
}


html {
   background-repeat: no-repeat;
}


html::-webkit-scrollbar {
   display: none;
}


::selection {
   background: #6997c4;
   color: white;
 }


h1 {
   font-size: 80px;
   letter-spacing: -3px;
   font-weight: bold;
}


h2 {
   font-size: 2.5em;
   letter-spacing: -1px;
}


h3 {
   font-size: 26px;
}


p {
   font-size: 20px;
}

input {
   color: black;
   background-color: black;
}


.ReactCollapse--collapse {
   transition: all 500ms;
}


a {
   color: #89A8C6;
   transition: all ease-in-out;
   transition-duration: 200ms;
}


a:hover {
   color: #6997c4;
}


button {
   user-select: none;
}